<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ReportDemoBancoGye"> 
	<test name="TestLogin" >
			<classes>
				<class name="com.proyect.testcase.TestLogin"/>
			</classes>
	</test>
	<test name="TestRegistroUsuario" >
		<classes>
				<class name="com.proyect.testcase.TestRegistroUsuario"/>
		</classes>
	</test>
	<test name="TestRetiroCuenta" >
		<classes>
				<class name="com.proyect.testcase.TestRetiroCuenta"/>
		</classes>
	</test>
	<test name="TestTransferenciaCuenta" >
		<classes>
				<class name="com.proyect.testcase.TestTransferenciaCuenta"/>
		</classes>
	</test>
</suite>